<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        h1 {
            color: white;
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>{{ requestorIp }}</h1>
    <h1>
        <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWs0bTA4b3VpbHNkZDFrZDNvdGY2djI2aHZwZnBraGJxM3o2YndjMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/oCMd930DS9Jz0eSVxh/giphy.gif" alt="Welcome GIF">
    </h1>
</body>
</html>