<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: white;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        h1 {
            color: black;
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Welcome {{ requestorIp }}!</h1>
    <h1>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTZpa3ByaG56M2FvMDM2cmpoZXU5bjV0anM5MmxyM3BrYWY3MGE4ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IwAZ6dvvvaTtdI8SD5/giphy.gif" alt="Welcome GIF">
    </h1>
</body>
</html>